.add_form {
    align-items: center;
    display: flex;
    gap: 20px;

    background-color: #5b6ee1;
    border-radius: 12px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px;

    font-family: 'Jua', sans-serif;
    font-weight: lighter;
}

input:focus-visible {
    outline-offset: 0px;
}

.input_group {
    align-items: center;
    display: flex;
    gap: 20px;
}

.add_input {
    border: none;
    border-radius: 12px;
    height: 40px;
    padding: 0 12px;
    width: 240px;
}

.form_label {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.add_btn {
    background-color: rgb(228, 228, 228);
    border: none;
    border-radius: 10px;
    color: black;
    font-weight: 700;
    height: 40px;
    width: 140px;

    font-family: 'Jua', sans-serif;
    cursor: pointer;
}